input, button {
    margin: 1em;
}
select {
    max-width: 100px;
}
#compressor, #pan-filter {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}
#keyboard {
    display: flex;
    margin: 20px;
}
.key {
    border: 1px solid black;
    /* height: 100px; */
    width: 40px;
}
.white-key {
    height: 200px;
}
.black-key  {
    height: 150px;
    font-size: 10px;
    background-color: black;
    color: white;
}
.knob {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgb(53, 53, 152);
    appearance: none;
    background-color: #c0c0c0;
}
/* .knob::before {
    content: "|";
    font-size: 18px;
    color: black;
    rotate: 90deg;
    margin-left: 22px;
} */
.flex-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
#visuals {
    width: 100vw;
    height: 35vw;
    background-color: black;
    /* border: 1px solid black; */
    margin: 20px 0px;
    display: flex;
    justify-content: flex-start;
}
.hidden {
    display: none;
}


@keyframes basic {
    0% {
        rotate: 0deg;
        margin-left: 0%;
        margin-top: 5%;
        width: 5px;
        height: 50%;
        border-radius: 0%;
    }
    100% {
        rotate: 0deg;
        margin-left: 95%;
        margin-top: 5%;
        width: 5px;
        height: 50%;
        border-radius: 0%;
    }
}

@keyframes spinning-a {
    0% {
        rotate: 0deg;
        margin-left: 0%;
        width: 5px;
        height: 15%;
        margin-top: -15%;
        border-radius: 0%;
    }
    10% {
        rotate: 0deg;
        margin-left: 10%;
        width: 5px;
        height: 15%;
        margin-top: -15%;
        border-radius: 0%;
    }
    50% {
        border-radius: 50%;
    }
    90% {
        rotate: 359deg;
        margin-left: 80%;
        height: 5px;
        width: 15%;
        margin-top: 25%;
        border-radius: 0%;
    }

    100% {
        rotate: 0deg;
        margin-left: 0%;
        height: 5px;
        width: 5%;
        margin-top: 0%;
        border-radius: 0%;
    }
}


/* VERSION 2 */

@keyframes spinning-b {
    0% {
        height: 5px;
        rotate: 0deg;
        margin-left: 0%;
        margin-top: -15%;
        width: 25%;
        border-radius: 0%;
    }
    20% {
        rotate: 359deg;
        margin-left: 80%;
        margin-top: 15%;
        height: 25%;
        border-radius: 50%;
    }
    40% {
        rotate: 0deg;
        margin-left: 0%;
        width: 5%;
        height: 5px;
        margin-top: -5%;
        border-radius: 5%;
    }
    60% {
        rotate: 359deg;
        margin-left: 80%;
        margin-top: 0%;
        height: 25%;
        border-radius: 50%;
    }
    80% {
        rotate: 0deg;
        margin-left: 0%;
        width: 5%;
        height: 5px;
        margin-top: -25%;
        border-radius: 5%;
    }
    100% {
        rotate: 0deg;
        margin-left: 0%;
        width: 5%;
        height: 5px;
        margin-top: -5%;
        border-radius: 5%;
    }
} 

/*  ORIGINAL 90's VERSION: */

@keyframes nineties {
    0% {
        rotate: 0deg;
        margin-left: 0%;
        height: 5px;
        width: 35%;
    }
    50% {
        rotate: 359deg;
        margin-left: 70%;
    }
    100% {
        rotate: 0deg;
        margin-left: 0%;
        width: 5%;
        height: 5px;
    }
} 

.visual {
    position: absolute;
    animation-duration: 8s;
    animation-timing-function: linear;
    margin: 5px;
}
#visual-sel-cont {
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    color: rgb(148, 103, 103);
}
#custom-controls {
    color: rgb(148, 103, 103);
}